body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

nav {
    background-color: rgb(177, 161, 74);
    display: flex;
    justify-content: center;
    content: center;
    padding: 2% 0 2% 0;
}
nav:hover{

}

.navButton {
    background-color: rgb(67, 67, 67);
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    padding: 2px 5px 2px 5px;
}
.currentPage {
    border: 1px solid white;
}

.imageStyle{
    border-radius: 20%;
    width: 250px; 
    height: 250px;
    object-fit: cover;
}
.row{
    flex-wrap: wrap;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;

}
#table{
    margin: 0px auto;
}
.imageFigure{
    text-align: center;
    font-size: 20px;
    /* width: 5%;  */
}
footer{
    text-align: center;
    font-size: 15px;
    color: grey;
}
#homeText{
    text-align: center;
    font-size: 20px;
}
#center{
    background-color: blue;
}
#csumbLogo {
    height: 150px;
    width: 150px;
}
#content{
    text-align: center;
    align-items: center;
    background-color: blue;
}

body{
    /* Google Font */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  h1{
    text-align: center;
    /* Google Font */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }