body {
    background-image: url("https://www.codewithc.com/wp-content/uploads/2015/03/number-guessing-java-game.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

header {
    text-align: center;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

#guessBtn {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

#resetBtn {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
}